# Ignore Kaggle API key
kaggle.json

# Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
ENV/
.env
.env.*

# folder for downloaded datasets
animals-faces/
bean-leaf-lesions-classifications/
rice-leaf-diseases-dataset/