# Ignore Kaggle API key
kaggle.json

# Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
ENV/
.env
.env.*

# folder for downloaded datasets

# folders for downloaded datasets (fixed names)
animal-faces/
bean-leaf-lesions-classification/
rice-type-classification/
quran-recitations-for-audio-classification/
news-headline-dataset-for-sarcasm-detection/
